body{
    background-color: white;
    /* The image used */
    background-image: url("../images/game.jpg");

    /* Full height */
    min-height: 100vh;    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.btn_small{
    height:24px;
    width:156px;
    line-height:24px;
    margin:5px 5px;
    padding: 0 0.5em;
    border-radius: 15px;
    background-color: black;
    
}

.btn_small:hover {
  background-color: red;
  color: black;
  
}

.task_header{
    margin-top: 5px;
}

.nav-wrapper{
    position: relative;
    height: 100%;
    background-color: black;
}

.bg{
    /* The image used */
  background-image: url("../images/game.jpg");

  /* Full height */
  

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
