body{
    background-color: white;
    /* The image used */
    background-image: url("../images/game.jpg");

    /* Full height */
    min-height: 100vh;    
    /* Center and scale the image nicely */
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

nav .brand-logo{
position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 1.1rem;
    padding: 0;
}

nav .brand-logo.right{
right: 2.5rem;
    padding: 0;
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 38px;
    line-height: 64px;
}

.row{
    color:white;
}

.container{
    padding-top: 30px;
    padding-right: 206px;
}

.container .row{
    margin-left: -.75rem;
    margin-right: 1.25rem;
}

.collapsible-body{
    color:white;
}

.collapsible-header{
    background-color: black;
}

.task-header{
    color: white;
}
.btn_small{
    height:24px;
    width:156px;
    line-height:24px;
    margin:5px 5px;
    padding: 0 0.5em;
    border-radius: 15px;
    background-color: black;
    
}


.btn_small:hover {
  background-color: red;
  color: black;
  
}

.task_header{
    margin-top: 5px;
}

.nav-wrapper{
    position: relative;
    height: 100%;
    background-color: black;
}

.bg{
    /* The image used */
  background-image: url("../images/game.jpg");

  /* Full height */
  

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
