{% extends 'base.html' %} {% block content %}

<h3> Add Review</h3>
<div class="row">
     <form action="{{url_for('insert_review') }}" method="POST" class="col s12">
          <div class="row">
               <div class="input-field col s12">
               <i class="material-icons prefix">poll</i>
                   <select id="genre" name="game_genre">
                    <option value="" disabled selected>Select Genre</option>
                    {% for name in genre %}
                        <option value="{{name.game_genre}}">{{name.game_genre}}</option>
                    {% endfor %}
                   </select>
                   <label>Game Genre</label>
               </div>
            </div>
         </div>   
            <div class="row">
                 <div class="input-field col s12">
                     <i class="material-icons prefix">assignment</i>
                     <input id="review_name" name="review_name" type="text" class="validate">
                     <label for ="icon_prefix">Game Title</label>    
                 </div>
                 </div>
        <div class="row">
        <div class="input-field col s12">
             <i class="material-icons prefix">subject</i>
             <textarea name="review_content" id="review_content" class="materialize-textarea"></textarea>
             <label for="icon_telephone">Review</label>           
        </div>
    </div>   
    <div class="row">
    <div class="input-field col s12" id="matfix">  
         <i class="material-icons prefix">assignment</i>
         <input id="review_date" name="review_date" type="text" class="datepicker">
         <label for="icon_prefix">Review Date</label>
    </div>
    </div>     

    <div class="row">
         <button class="btn waves-effect waves-light btn_small" type="submit" name="action">Add Review
               <i class="material-icons right">playlist_add</i>
         </button>      
</form>      
</div>  



{% endblock %}